@page "/"
<!--HTML-->
<h1>Bienvenido a La escuela ESE de la universidad UESE</h1>

<h3>En esta aplicación usted puede:</h3>
<ul>
    <li>Listar grupos de investigación.</li>
    <li>Listar investigadores.</li>
    <li>Agregar nuevos investigadores.</li>
    <li>Borrar investigadores.</li>
    <li>Modificar investigadores.</li>
</ul>